<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layout/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles del Producto</h1>
    <form th:object="${producto}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombreFJCO}" id="nombre" readonly>
                </div>
            </div>
            <hr>
            <a th:href="@{/Producto}" class="btn btn-outline-primary">Regresar</a>
    </form>
</div>