<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layout/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles del Detalle Orden</h1>
    <form th:object="${detalle}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="producto">Producto</label>
                    <select class="form-control" th:field="*{productoFJCO.id}" id="producto" disabled>
                        <option th:each="producto : ${productos}" th:value="${producto.id}" th:text="${producto.nombreFJCO}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="orden">Fecha de Orden</label>
                    <select class="form-control" th:field="*{ordenFJCO.id}" id="orden" disabled>
                        <option th:each="orden : ${ordenes}" th:value="${orden.id}" th:text="${orden.fecha}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" class="form-control" th:field="*{cantidadFJCO}" id="cantidad" placeholder="Escriba la cantidad" readonly>
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" step="0.01" class="form-control" th:field="*{precioFJCO}" id="precio" placeholder="Escriba el precio" readonly>
                </div>
            </div>
        </div>
        <hr>
        <a th:href="@{/DetalleOrden}" class="btn btn-outline-primary">Regresar</a>
    </form>
</div>