<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layout/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles dela Orden</h1>
    <form th:object="${orden}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input type="date" class="form-control" th:field="*{fecha}" id="fecha" readonly>
                </div>
            </div>
        </div>
            <hr>
            <a th:href="@{/Orden}" class="btn btn-outline-primary">Regresar</a>
    </form>
</div>